.photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--green-light);
  margin: auto;
  overflow: hidden;
  display: flex;
  align-content: center ;
}

img {
  height: 100%;
  width: 100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  color: var(--light);
  text-align: center;
  cursor: pointer;
  margin: auto;
}
