.profile {
  &__photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:var(--green-light);
    margin: auto;
    overflow:hidden;
    display: flex;

    img {
      height: 100%;
      width: 100%;
    }   
  }
  
  &__module {
    width: 100%;
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid var(--green-light);
  }
  
  &__label {
    font-size: var(--big);
    width: 35%;
    opacity: 0.5;
  }
  
  &__input_notactive {
    width: 70%;
    box-sizing: border-box;
    outline: 0;
    font-size: var(--big);
    text-align: right;
    border: 0px;
    background-color: var(--light);
    color: var(--black);

    &:focus {
      color: var(--accent);
    }
    
    &::placeholder {
      color: var(--black);
      opacity: 1; 
    }
  }  
}
