---
title: Heylynx - Sign Up
background: bg-main
stylesheets:
  - ../styles/index.scss
---

{{#extend "base"}}

  {{#content "header"}}
    {{> header/header}}
  {{/content}}

  {{#content "main"}}
    <main class="app">
      <div class="form__wrapper">
        <div class="form form-signup">

          <div class="form__top">
            {{> title/title caption="Registration"}}
            {{> input/input caption="Email" name="email" type="email"}}
            {{> input/input caption="Login" name="login" type="text"}}
            {{> input/input caption="First name" name="first_name" type="text"}}
            {{> input/input caption="Second name" name="second_name" type="text"}}
            {{> input/input caption="Phone" name="phone" type="tel" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" }}
            {{> input/input caption="Password" name="password" type="password"}}
            {{> input/input caption="Password" name="password" type="password"}}
          </div>
          
          <div class="form__bottom">
            {{> button/button caption="Create account" link="../error/error404.hbs" modifying="button_active"}}
            {{> button/button caption="Sign in" link="signin.hbs"}}
          </div>

        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}
