---
title: Heylynx - Sign In
bodyclass: body__sign
stylesheets:
  - ./sign.css
  - ../styles/index.css
---

{{#extend "base"}}
  {{#content "header"}}
    {{> header}}
  {{/content}}

  {{#content "main"}}
    <main class="app">
      <div class="login__wrapper">
        <div class="login">
          <div class="login__inputs">
            {{> title caption="Hey, lynx!" classes="login__title"}}
            {{> input caption="Login" name="login" type="text"}}
            {{> input caption="Password" name="password" type="password" minlength="8"}}
          </div>
          
          <div class="login__buttons">
            <a href="../messenger/messenger.hbs">{{> button classes="login__button login__button_active" caption="Sign in"}}</a>
            <a href="signup.hbs">{{> button classes="login__button" caption="Register"}}</a>
          </div>
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}