---
title: Heylynx - Profile
background: bg-main
stylesheets:
  - ../styles/index.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main class="app">
      
      <div class="back__wrapper">
        <a href="../messenger/messenger.hbs" class="back__button button-icons" >
          {{> back/back}}
        </a>
      </div>

      <div class="form__wrapper">
        <div class="form form-profile">
          <div class="form__top">
            {{> profile/photo name="avatar" imglink="../../../static/images/avatars/leo.png"}}
            {{> title/title caption="Change password"}}
            {{> profile/input-edit caption="Current" name="oldPassword" type="password" minlength="8"}}
            {{> profile/input-edit caption="New" name="newPassword" type="password" minlength="8"}}
            {{> profile/input-edit caption="Confirm" name="newPassword" type="password" minlength="8"}}
          </div>

          <div class="form__bottom">
            {{> button/button caption="Save" link="profile.hbs"}}
          </div>
        </div>
      </div>

    </main>
  {{/content}}
{{/extend}}
