---
title: Heylynx - Profile
background: bg-main
stylesheets:
  - ../styles/index.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main class="app">

      <div class="back__wrapper">
        <a href="../messenger/messenger.hbs" class="back__button button-icons" >
          {{> back/back}}
        </a>
      </div>

      <div class="form__wrapper">
        <div class="form form-profile">
          <div class="form__top">
            {{> profile/photo name="avatar" imglink="../../../static/images/avatars/leo.png"}}
            {{> title/title caption="Edit information"}}
            {{> profile/input-edit data="Leonardo" caption="First name" name="first_name" type="text"}}
            {{> profile/input-edit data="Di Caprio" caption="Second name" name="second_name" type="text"}}
            {{> profile/input-edit data="Leo" caption="Display name" name="display_name" type="text"}}
            {{> profile/input-edit data="leodi" caption="Login" name="login" type="text"}}
            {{> profile/input-edit data="leo@di.app" caption="Email" name="email" type="email"}}
            {{> profile/input-edit data="+1 234-555-6789" caption="Phone" name="phone" type="tel" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" }}
          </div>
          
          <div class="form__bottom">
            {{> button/button caption="Save" link="profile.hbs"}}
          </div>
        </div>
      </div>
      
    </main>
  {{/content}}
{{/extend}}
