.message-in__wrapper {
  box-sizing: border-box;
  height: auto;
  width: auto;
  max-width: 400px;
  border-radius: 22px 22px 22px 0px;
  padding: 10px;
  margin: 10px auto 10px 0px;
  background-color:var(--green-light);
  color: var(--light);
}

.message-out__wrapper {
  box-sizing: border-box;
  height: auto;
  width: auto;
  max-width: 400px;
  border-radius: 22px 22px 0px 22px;
  padding: 10px;
  margin: 10px 0px 10px auto ;
  background-color: var(--cream);
  border: 1px solid var(--green-light);
  color: var(--green-light);
}

.photo-in__wrapper {
  box-sizing: border-box;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  min-height: 200px;
  border-radius: 22px 22px 22px 0px;
  margin: 10px auto 10px 0px;
  color: var(--light);
  overflow: hidden;    
  padding-bottom: 0px;

  img {
    width: 100%;
    height: 100%;
  }
}

.photo-out__wrapper {
  box-sizing: border-box;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  min-height: 200px;
  border-radius: 22px 22px 0px 22px;
  margin: 10px 0px 10px auto ;
  color: var(--light);
  overflow: hidden;    
  padding-bottom: 0px;

  img {
    width: 100%;
    height: 100%;
  }
}
