.messenger {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &__left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 534px;
    height: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--green-light);
  }

  &__search {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px;
    align-items: center;
    background-color: var(--green-black);
  }

  &__newchat {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px;
    align-items: center;
    background-color: var(--green-black);
  }

  &__chats {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    padding: 10px 15px;
    background-color: var(--green-light);
    overflow: auto;
  }

  &__tabs {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: var(--green-black);
  }

  &__contact {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: var(--green-black);
  }

  &__chat {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    flex-grow: 1;
    background-color: var(--cream);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
  }

  &__message {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: var(--green-black);
  }
}

.chat-content {
  margin: auto;
  width: 100%;
}
