.screen {
  &_type_splash &__content {
    background: --black;
  }
  
  &_loading::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--accent-font);
    font-size: var(--huge);
    color: var(--green-light);
    position: absolute;
  }
}
