<div class="modal">
  <div class="modal__content">
    <div class="modal__buttons">
      {{> modal/modal-button classes="modal__button" imglink="../../../static/images/icons/addphoto.png" caption="Photo or Video"}}
      {{> modal/modal-button classes="modal__button" imglink="../../../static/images/icons/addfile.png" caption="File"}}
      {{> modal/modal-button classes="modal__button" imglink="../../../static/images/icons/addlocation.png" caption="Location"}}
    </div>
  </div>
</div>
