<div class="modal">
  <div class="modal__content">
    <div class="modal__buttons">
      {{> modal/modal-button classes="modal__button" imglink="../../../static/images/icons/adduser.png" caption="Add user"}}
      {{> modal/modal-button classes="modal__button" imglink="../../../static/images/icons/deleteuser.png" caption="Delete user"}}
    </div>
  </div>
</div>
