---
title: Heylynx - index
background: bg-main
stylesheets:
  - ./styles/index.scss
---

{{#extend "base"}}
  {{#content "main"}}
    <main class="app">
      <div class="form__wrapper">
        <div class="form form-signin">
          <div class="form__top">
            {{> title/title caption="Pages:"}}
          </div>
          <div class="form__bottom">
            {{> button/button caption="Sign in" link="./sign/signin.hbs" modifying="button_active"}}
            {{> button/button caption="Registration" link="./sign/signup.hbs"}}
            {{> button/button caption="Messenger" link="./messenger/messenger.hbs"}}
            {{> button/button caption="Profile" link="./profile/profile.hbs"}}
            {{> button/button caption="Error404" link="./error/error404.hbs"}}
            {{> button/button caption="Error50*" link="./error/error500.hbs"}}
          </div>
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}
