<div class="contact__wrapper">
  <div class="contact__data">
    <div class="contact__photo">
      <img src="../../../static/images/avatars/cage.png" alt="cage" width="40px" height="40px"></img>
    </div>
    <div class="contact__name">
      
      <span>{{contact/first_name}} {{contact/second_name}}</span>
    </div>
  </div>
  <div class="contact__details messenger__icons">
    <img src="../../../static/images/icons/details.png" alt="details" width="40px" height="40px"></img>
  </div>
</div>



