<div class="message__wrapper">
  <div class="message__add messenger__icons">
    <img src="../../../static/images/icons/add.png" alt="details" width="40px" height="40px"></img>
  </div>
  <input type="text" class="message__input input__{{name}}" name="{{name}}" placeholder="{{caption}}" >
  <div class="message__send messenger__icons">
    <img src="../../../static/images/icons/send.png" alt="details" width="40px" height="40px"></img>
  </div>
</div>
