<div class="tabs__wrapper">
  <div class="tabs__photo messenger__icons">
    <img src="../../../static/images/icons/contacts.png" alt="details" width="40px" height="40px"></img>
  </div>
  <div class="tabs__photo messenger__icons">
    <img src="../../../static/images/icons/chats.png" alt="details" width="40px" height="40px"></img>
  </div>
  <a href="../profile/profile.hbs">
    <div class="tabs__photo messenger__icons">
      <img src="../../../static/images/icons/user.png" alt="details" width="40px" height="40px"></img>
    </div>
  </a>
</div>




