:root {
  --light: white;
  --cream: mintcream;
  --green-light: #2A9273;
  --green-black: #1D4948;
  --accent: #D3950E;
  --black: #1e2e05;
  --error: #d70d39;
  --icon-shadow: 3px 3px 3px rgba(2, 15, 15, 0.85);
  --module-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  --button-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
