@font-face {
  font-family: 'Literata';
  src: url("../fonts/Literata-Bold.woff2") format("woff2"),
  url("../fonts/Literata-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url("../fonts/Sarabun-Regular.woff2") format("woff2"),
  url("../fonts/Sarabun-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}