.input {
  &__module {
    height: 50px;
    width: 100%;
  }
  
  &__label {
    font-size: var(--small);
    display: none;
    margin: 0px;
  }

  &__field {
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--green-light);
    font-size: var(--big);

    &:focus {
      border-color: var(--accent);
    }
  }

  &__attention {
    font-size: var(--small);
    color: var(--error);
    margin: 0px;

    display: none;
  }
}
